---

import Pepper from '../../layouts/strakLife/imagesLocals/Pepper.jpeg'

---

<script>
const el = document.getElementById('card')
const height = el?.clientHeight
const width = el?.clientWidth

el?.addEventListener('mousemove', (evt) => {
  const {layerX, layerY} = evt

  const yRotation = (
    (layerX - width / 2) / width
  ) * 20
  const xRotation = (
    (layerY - height / 2) / height
  ) * 20

  const string = `
  perspective(500px)
  scale(1.1)
  rotateX(${xRotation}deg)
  rotateY(${yRotation}deg)`

  el.style.transform = string

  el?.addEventListener("mouseout", () => {
      el.style.transform = `
      perspective(500px)
      scale(1.1)
      rotateX(${xRotation}deg)
      rotateY(${yRotation}deg)
      ` 
    })
})
</script>

  <div class="hover-3d">
    <div id="card" @mouseover="onMouseOver" @mouseout="onMouseOut">
      <picture class='inline-block w-56 h-auto py-4'>
        <img src={Pepper.src} class=' w-full h-full object-cover rounded-xl'>
      </picture>
    </div>
  </div>


<style>
  .hover-3d {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .card {
    
    transform-style: preserve-3d; 
    transition: transform 1s; 
  }

  .card:hover {
    transform: rotateY(30deg); 
    transform: rotateX(30deg);
  }
</style>
