---

import Tony from '../../layouts/strakLife/imagesLocals/TonyStark.webp'

---

<script>
const el = document.getElementById('cardHeart')
const height = el?.clientHeight
const width = el?.clientWidth

el?.addEventListener('mousemove', (evt) => {
  const {layerX, layerY} = evt

  const yRotation = (
    (layerX - width / 2) / width
  ) * 20
  const xRotation = (
    (layerY - height / 2) / height
  ) * 20

  const string = `
  perspective(500px)
  scale(1.1)
  rotateX(${xRotation}deg)
  rotateY(${yRotation}deg)`

  el.style.transform = string

  el?.addEventListener("mouseout", () => {
      el.style.transform = `
      perspective(500px)
      scale(1.1)
      rotateX(${xRotation}deg)
      rotateY(${yRotation}deg)
      ` 
    })
})
</script>

  <div class="hover-3d">
    <div id="cardHeart" @mouseover="onMouseOver" @mouseout="onMouseOut">
      <picture class='inline-block w-56 h-auto py-2'>
        <img src={Tony.src} loading="lazy" class=' w-full h-full object-cover rounded-xl' alt="Tony Stark image">
      </picture>
    </div>
  </div>



<style>
  .hover-3d {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .cardHeart {
    box-shadow: 0px 10px 50px rgba(255 255 255 );
    transform-style: preserve-3d; 
    transition: transform 1s; 
  }

  .cardHeart:hover {
    transform: rotateY(40deg); 
    transform: rotateX(40deg); 
    
  }
</style>
